
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 67%;
	color: #000000;
	background-color: #FFFFFF;
}

a {
	color: #111111;
	text-decoration: underline;
}

input, select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
}

textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	width: 350px;
	height: 50px;
}

/*
*************************
DIVs
*************************
*/

#pageTitle {
	position: relative;
	height: 40px;
	padding: 10px;
	background-color: #CCCCCC;
	font-weight: normal;
}

#pageTitle h1 {
	font-size: 1.3em;
}

#pageTitle h2 {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 4px;
}

#pageBody {
	position: relative;
	padding: 10px;
	background-color: #FFFFFF;
}

#logIn {
	position: absolute;
	top: 10px;
	left: 590px;
	width: 300px;
	height: 16px;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
}

#msgDiv {
	position: absolute;
	left:215px;
	top: 35px;
}

.numberDiv {
	float: left;
	padding: 2px;
	text-align: right;
}

.nameDiv {
	float: left;
	padding: 2px;
}

.notesDiv {
	float: left;
	padding: 2px;
	white-space: pre;
	vertical-align: top1;
	height: auto;
	overflow: auto;
}

.dateDiv {
	float: left;
	padding: 2px;
}

.personDiv {
	float: left;
	padding: 2px;
}

.buttonsDiv {
	float: left;
	padding: 2px;
}

.clearboth {
	clear:both;
}

/*
*************************
NEW STYLES
*************************
*/

.tableTitle {
	font-weight: bold;
	vertical-align: middle;
}

.buttons {
	background:transparent url(../assets/btn_left.png) no-repeat scroll 0 0;
	float:left;
	margin: 0px 0;
	margin-left: 5px;
	padding: 0 0 0 10px;
}

/* height & line-height: 40px */
.buttons a {
	background:transparent url(../assets/btn_stretch.png) repeat-x scroll left top;
	color:#000000;
	float:left;
	font-size:1em;
	height:16px;
	line-height:16px;
	padding:0 10px;
	text-decoration:none;
}

.buttons span {
	background:transparent url(../assets/btn_right.png) no-repeat scroll 0 0;
	float:left;
	height:16px;
	width:10px;
}

.buttons2 {
	clear: both;
	display: compact;
	padding: 2px;
	margin-top: 0px;
	background-color: #444444;
	border: 1px #CCCCCC solid;
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}

.msgDiv {
	margin-top: 6px;
	margin-bottom: 10px;
	color: #FF0000;
	font-weight: bold;
}

.msgDiv a {
	color: #FF0000;
	text-decoration: none;
}