
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	padding: 10px;
	background-color: #777777;
	color: black;
}

a {
	color: #FFFFFF;
	text-decoration: underline;
}

input, select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
}

textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	width: 350px;
	height: 50px;
}

table {
	font-size: 10px;
	width: 950px;
}

tr {
	height: 30px;
}

td {
	border: 1px #CCCCCC solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0;
	padding: 2px;
	vertical-align: middle;
}

pre {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin: 0;
}

.tableTitle {
	font-weight: bold;
	vertical-align: middle;
}

.buttons {
	padding: 2px;
	margin-top: 0px;
	background-color: #444444;
	color: #CCCCCC;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

/*
*************************
DIVs

*************************
*/

#pageTitle {
	height: 60px;
}

#pageTitle date {
	padding-top: 100px;
}

#logIn {
	position: absolute;
	top: 10px;
	left: 655px;
	width: 290px;
	height: 20px;
	background-color: #999999;
	padding: 8px;
	text-align: center;
}

/*
	float: right;
	background-color: #6699CC;
*/

#msgDiv {
	position: absolute;
	top: 30px;
	left: 810px;
	width: 170px;
	height: 14px;
	color: #FFFFFF;
	margin-top: 10px;
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

.projectDiv2 {
	background-color: maroon;
}
