
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	color: black;
}

a {
	color: #111111;
	text-decoration: underline;
}

input, select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
}

textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	width: 380px;
	height: 50px;
}

pre {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin: 0;
	width: 400px;
	height: auto;
	overflow: auto;
}

table {
	font-size: 10px;
}

tr {
	height: 30px;
}

td {
	border-bottom: 1px #CCCCCC solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0;
	padding: 5px 5px 2px 2px;
	vertical-align: top;
}

/*
*************************
DIVs
*************************
*/

#pageTitle {
	position: relative;
	height: 40px;
	padding: 10px;
	background-color: #CCCCCC;
	color: #000000;
}

#pageBody {
	position: relative;
	padding: 10px;
	background-color: #FFFFFF;
}

#logIn {
	position: absolute;
	top: 10px;
	left: 655px;
	width: 290px;
	height: 20px;
	background-color: #999999;
	padding: 8px;
	text-align: center;
}

#msgDiv {
	position: absolute;
	left:215px;
	top: 35px;
}

/*
*************************
NEW STYLES
*************************
*/

.tableTitle {
	font-weight: bold;
	vertical-align: middle;
}

.buttons {
	padding: 2px;
	margin-top: 0px;
	background-color: #444444;
	border: 1px #CCCCCC solid;
	color: #CCCCCC;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

.msgDiv {
	margin-top: 6px;
	margin-bottom: 10px;
	color: #FF0000;
	font-weight: bold;
}

.msgDiv a {
	color: #FF0000;
	text-decoration: none;
}